
.jumbotron{
	text-align: center;
	background-color: $gray;
	color: $white;
	margin-top: 40px; 
	padding-top: 50px;
}
.btn{
	border: none;
	color: $white;
	background-color:#922B21;
}

footer{
	background-color: $orange;
	margin-top: 60px;
	padding: 10px;
}
footer a{
	color: $white;
}

.cosas{
	flex: 1 120px; 
	margin:15px 5px;	
}
.add{
	color: $white;
	text-align: center;
}

.nav-tabs{
	color: $gray;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}
.carousel-inner{
	margin:10px 0 10px 0;
	height: 20%;
	width:100%;
}