.jumbotron {
  text-align: center;
  background-color: #0f262b;
  color: #FFFFFF;
  margin-top: 40px;
  padding-top: 50px; }

.btn {
  border: none;
  color: #FFFFFF;
  background-color: #922B21; }

footer {
  background-color: #d67d18;
  margin-top: 60px;
  padding: 10px; }

footer a {
  color: #FFFFFF; }

.cosas {
  flex: 1 120px;
  margin: 15px 5px; }

.add {
  color: #FFFFFF;
  text-align: center; }

.nav-tabs {
  color: #0f262b; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.carousel-inner {
  margin: 10px 0 10px 0;
  height: 20%;
  width: 100%; }
