
   <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
         <a class="nav-link active" id="compara-tab" data-toogle="tab" href="#compara" role="tab" aria-controls="compara" aria-selected="true"> Compara</a>
      </li>   
         <li class="nav-item">
         <a class="nav-link" id="tarjetas-tab" data-toogle="tab" href="#tarjetas" role="tab" aria-controls="tarjetas" aria-selected="false"> Tarjetas</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" id="comentarios-tab" data-toogle="tab" href="#comentarios" role="tab" aria-controls="comentarios" aria-selected="false"> Comentarios</a>
      </li>
      
   </ul>




 <div class="tab-pane fade show active" id="compara" role="tabpanel" arial-labelledby="compara-tab">
        <div class="table-responsive">
              <table class="table table-striped">
                  <thead class="thead-dark">
                     <th>ipsum</th>
                     <th>ipsum</th>
                     <th>ipsum</th>
                 </thead>
                 <tbody>
                    <tr>
                       <td> <span class="oi oi-star"> </span> 1 estrellas</td>
                       <td>ipsum</td>
                       <td>ipsum</td>
                    </tr> 
                      <tr>
                        <td><span class="oi oi-star"> </span>  <span class="oi oi-star"> </span> 2 estrellas</td>
                         <td>ipsum</td>
                        <td>ipsum</td>
                     </tr>
                      <tr>
                    <td><span class="oi oi-star"> </span> 
                        <span class="oi oi-star"> </span> 
                         <span class="oi oi-star"> </span> 3 estrellas</td>
                    <td>ipsum</td>
                    <td>ipsum</td>
                    </tr>
                   <tr>
                       <td> <span class="oi oi-star"> </span> 
                       <span class="oi oi-star"> </span> 
                       <span class="oi oi-star"> </span> 
                       <span class="oi oi-star"> </span> 4 estrellas</td>
                       <td>ipsum</td>
                       <td>ipsum</td>
                    </tr>
                     <tr>
                    <td><span class="oi oi-star"> </span> 
                    <span class="oi oi-star"> </span> 
                    <span class="oi oi-star"> </span> 
                    <span class="oi oi-star"> </span> 
                    <span class="oi oi-star"> </span> 5 estrellas</td>
                    <td>ipsum</td>
                    <td>ipsum</td>
                   </tr>
               </tbody>
             </table> 
       </div>
        <div class="tab-pane fade" id="tarjetas" role="tabpanel" arial-labelledby="tarjetas-tab">
     
       
             
        


 <div class="tab-pane fade show active" id="tarjetas" role="tabpanel" aria-labelledby="compara-tab">
         <div class="d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
               <div class="card-header" style="background-color: #767676; color: #ffffff;">
                 <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tarjeta Básica</li>
                    <li class="list-group-item">Tarjeta VIP</li>
                    <li class="list-group-item">Tarjeta BLack</li>
                 </ul>
               </div>
            </div>
         </div>
            
 </div>
    
    <div class="container">
       <ul class="nav nav-tabs"  id="myTab" role=tablist>
          <li class="active"> <a href="#compara" data-toggle="tab"> Compara</a></li>
          <li> <a href="#tarjetas" data-toggle="tab"> tarjetas</a></li>
          <li> <a href="#comentario" data-toggle="tab"> Comentario</a></li>
       </ul>
        <div class="tab-content">
          <div class="tab-pane fade" id="compara">
              <P> asdasdasda</P>
          </div>
          <div class="tab-pane fade" id="tarjetas">
            <P> asdasdasda</P>
            <P> asdasdasda</P>
            <P> asdasdasda</P>
            <P> asdasdasda</P>
          </div>
          <div class="tab-pane fade" id="comentario">
            <P> asdasdasda</P>
          </div>
        </div>
    </div>



 <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
                 <li class="nav-item">
                    <a class="nav-link active" id="compara-tab" data-toogle="tab" href="#compara" role="tab" aria-controls="compara" aria-selected="true"> Compara</a>
                 </li>   
                <li class="nav-item">
                    <a class="nav-link" id="tarjetas-tab" data-toogle="tab" href="#tarjetas" role="tab" aria-controls="tarjetas" aria-selected="false"> Tarjetas</a>
               </li>
              <li class="nav-item">
                    <a class="nav-link" id="comentarios-tab" data-toogle="tab" href="#comentarios" role="tab" aria-controls="comentarios" aria-selected="false"> Comentarios</a>
              </li>
      
             </ul>
     
          <div class="tab-content" id="myTabContent">
               <div class="tab-pane fade show active" id="compara" role="tabpanel" aria-labelledby="compara-tab">
                     <div class="table-responsive">
              <table class="table table-striped">
                  <thead class="thead-dark">
                     <th>ipsum</th>
                     <th>ipsum</th>
                     <th>ipsum</th>
                 </thead>
                 <tbody>
                    <tr>
                       <td> <span class="oi oi-star"> </span> 1 estrellas</td>
                       <td>ipsum</td>
                       <td>ipsum</td>
                    </tr> 
                      <tr>
                        <td><span class="oi oi-star"> </span>  <span class="oi oi-star"> </span> 2 estrellas</td>
                         <td>ipsum</td>
                        <td>ipsum</td>
                     </tr>
                      <tr>
                    <td><span class="oi oi-star"> </span> 
                        <span class="oi oi-star"> </span> 
                         <span class="oi oi-star"> </span> 3 estrellas</td>
                    <td>ipsum</td>
                    <td>ipsum</td>
                    </tr>
                   <tr>
                       <td> <span class="oi oi-star"> </span> 
                       <span class="oi oi-star"> </span> 
                       <span class="oi oi-star"> </span> 
                       <span class="oi oi-star"> </span> 4 estrellas</td>
                       <td>ipsum</td>
                       <td>ipsum</td>
                    </tr>
                     <tr>
                    <td><span class="oi oi-star"> </span> 
                    <span class="oi oi-star"> </span> 
                    <span class="oi oi-star"> </span> 
                    <span class="oi oi-star"> </span> 
                    <span class="oi oi-star"> </span> 5 estrellas</td>
                    <td>ipsum</td>
                    <td>ipsum</td>
                   </tr>
               </tbody>
             </table>        
                     </div>
                </div>
                <div class="tab-pane fade show" id="tarjetas" role="tabpanel" aria-labelledby="tarjetas-tab">
                  <p> porquería</p>
                </div>  
                <div class="tab-pane fade show" id="comentarios" role="tabpanel" aria-labelledby="comentarios-tab">
                  <p> porquería</p>
                </div>  
          </div> 
     
      <div class="tab-pane fade" id="compara">
     </div>

<button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLabel"> </button>
  </div>
  <!-- sdsd-->
   <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLabel">contacto</button>  
     
     <div class="modal fade" id="exampleModalLabel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hiden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Contacto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
         <div class="modal-body">
           <div class="modal-body">
             <form>
               <div class="form-group">
                 <label for="message-text" class="col-form-label"> mensaje</label>
                 <textarea class="form-control" id="message-text"></textarea>
               </div>

             </form>

           </div>
            
         </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">cerrar</button>   
            <button type="button" class="btn btn-success" data-dismiss="modal">acepatar</button>         
          </div>

       </div>
    </div>
    <!--modal de la documentación de bootstrap-->
    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">Contacto</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo mensaje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>


    <!--sds-->
    <div class="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabe" contacto> Contacto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
         <div class="modal-body">
            <form>
               <div class="form-group">
                 <label for="recipient-name" class="col-form-label"> Email</label>
                 <input type="text" class="form-control" id="recipient-name">
               </div>
                <div class="form-group">
                 <label for="message-text" class="col-form-label">Mensaje</label>
                 <textarea type="text" class="form-control" id="message-text"> </textarea>
               </div>
            </form>
         </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger">Enviar</button>            
          </div>

       </div>
    </div>

    <!--sds-->
    <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>